<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="icon" type="image/png" sizes="32x32" href="/app/favicon.ico" />
    <title>Authorize HubSpot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://ashishaapna.github.io/app.css"
    />
  </head>

  <body class="d-flex flex-column h-100">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <a class="navbar-brand" href="https://chat.niswey.net/telegram/">
          <img
            width="10%"
            height="10%"
            class="d-inline-block align-top"
            src="/app/logo.png"
          />
          Telegram Automation
        </a>
      </div>
    </nav>

    <main class="pb-5">
      <div class="errors">
        <div class="container-sm"></div>
      </div>
      <div class="page-header border-bottom">
        <div class="container-sm">
          <h1>Authorize Telegram</h1>
        </div>
      </div>

      <div class="container-sm">
        <a class="btn btn-info" href="<%= authUrl %>"> Authorize Telegram </a>
      </div>
    </main>

    <footer class="footer mt-auto py-3 border-top">
      <div class="container">
        <span
          >Powered by
          <a target="_blank" href="https://www.niswey.com/">Niswey</a></span
        >
      </div>
    </footer>

    <script
      type="text/javascript"
      src="https://ashishaapna.github.io/app.js"
    ></script>
  </body>
</html>
