<!DOCTYPE html>
<html>
  <head>
    <title>Telegram API key</title>
    <link rel="stylesheet" href="https://ashishaapna.github.io/app.css" />
    <link rel="icon" type="image/png" sizes="32x32" href="/app/favicon.ico" />
  </head>
  <body class="d-flex flex-column h-100">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <a class="navbar-brand" href="https://chat.niswey.net/telegram/">
          <img
            width="10%"
            height="10%"
            class="d-inline-block align-top"
            src="/app/logo.png"
          />
          Telegram Automation
        </a>
      </div>
    </nav>

    <main class="pb-5">
      <div class="errors">
        <div class="container-sm"></div>
      </div>
      <div class="page-header border-bottom">
        <div class="container-sm">
          <h4>
            Please Provide Telegram Bot key & Channel information, so we can
            connect this App with Telegram
          </h4>
        </div>
      </div>

      <div class="container-sm">
        <div class="portal-info mb-4 mt-2">
          <div class="d-flex">
            <div class="mr-2">
              <strong>For PortalId: </strong>
            </div>
            <div><%= portalId %></div>
          </div>
        </div>

        <form method="post" action="/app/cred">
          <input
            type="hidden"
            name="_token"
            value="vrZ35Rp6a0Y30oMO95ktCHXy0UWwBPztMSPYg6CC"
          />

          <div class="form-group">
            <label for="exampleInputEmail0">Telegram Bot key</label>
            <input
              required
              type="text"
              name="api_key"
              class="form-control"
              id="apikey"
              placeholder="Enter Telegram bot key"
            />
            <label for="exampleInputEmail0">Channel ID</label>
            <input
              required
              type="text"
              name="channel_id"
              class="form-control"
              id="channelid"
              placeholder="Enter Telegram Channel Id"
            />
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </main>

    <footer class="footer mt-auto py-3 border-top">
      <div class="container">
        <span
          >Powered by
          <a target="_blank" href="https://www.niswey.com/">Niswey</a></span
        >
      </div>
    </footer>

    <script
      type="text/javascript"
      src="https://ashishaapna.github.io/app.js"
    ></script>
  </body>
</html>
