<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Authorize HubSpot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="csrf-token"
      content="vrZ35Rp6a0Y30oMO95ktCHXy0UWwBPztMSPYg6CC"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/app/favicon.ico" />
    <link rel="icon" type="image/png" sizes="16x16" href="/app/favicon.ico" />
    <link rel="manifest" href="/site.webmanifest" />

    <link rel="stylesheet" href="https://chat.niswey.net/telegram/" />
  </head>

  <body class="d-flex flex-column h-100">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <a class="navbar-brand" href="https://chat.niswey.net/telegram/">
          <img
            width="10%"
            height="10%"
            class="d-inline-block align-top"
            src="/app/logo.png"
          />
          Telegram Automation
        </a>
      </div>
    </nav>

    <main class="pb-5">
      <div class="errors">
        <div class="container-sm"></div>
      </div>
      <div class="page-header border-bottom">
        <div class="container-sm">
          <h1>Successfully connected</h1>
        </div>
      </div>

      <div class="container-sm">
        <h4>Telegram app successfuly integrated.</h4>
        <p>
          <em> </em>
        </p>
      </div>
    </main>

    <footer class="footer mt-auto py-3 border-top">
      <div class="container">
        <span
          >Powered by
          <a target="_blank" href="https://www.niswey.com/">Niswey</a></span
        >
      </div>
    </footer>

    <script
      type="text/javascript"
      src="https://ashishaapna.github.io/app.js"
    ></script>
  </body>
</html>
