* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: rgba(71, 147, 227, 1);
}

h1 {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    padding: 30px 0;
}

h2 {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    padding: 30px 0;
}


h3 {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-sizing: border-box;
    color: black;
    background-color: rgb(77, 111, 121);
    padding: 0px 0;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}


table th,
table td {

    text-align: center;

}

table tr:nth-child(even) {

    background-color: #AFEEEE;

}

table tr:nth-child(odd) {

    background-color: #FFF5EE;

}

table tbody tr {

    display: none;

}


h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    padding-top: 1%;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
}